@using Entity.Concrete
@model Exercise

@{
    ViewData["Title"] = "Update";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    
}

<div class="container-fluid grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Deneme Bilgilerini Güncelle</h4>
            <p class="card-description">
                Deneme Sınavı bilgilerini güncelleme için aşağıdaki formu doldurmalısınız
            </p>
            <form asp-action="Add" asp-controller="Exercise" asp-area="Admin" class="forms-sample" method="post" enctype="multipart/form-data">
                 
                <div class="form-group">
                    <input type="text" class="form-control" asp-for="ExerciseId" placeholder="Deneme Tanımını Giriniz.">
                </div>

                <div class="form-group">
                    <label asp-for="Name">Deneme Tanımı</label>
                    <span asp-validation-for="Name" class="text-danger"></span>
                    <input type="text" class="form-control" asp-for="Name" placeholder="Deneme Tanımını Giriniz.">
                </div>

               

                 <div class="form-group">
                    <label asp-for="QuestionCount">Soru Sayısı</label>
                    <span asp-validation-for="QuestionCount" class="text-danger"></span>
                    <input type="text" class="form-control" asp-for="QuestionCount" placeholder="Soru Sayısı">
                </div>

                 <div class="form-group">
                    <label asp-for="Difficulty">Zorluk Düzeyi</label>
                    <span asp-validation-for="Difficulty" class="text-danger"></span>
                    <input type="text" class="form-control" asp-for="Difficulty" placeholder="Zorluk Düzeyi (1-5)">
                </div>

                 <div class="form-group">
                    <label asp-for="Description">Deneme Açıklaması</label>
                    <span asp-validation-for="Description" class="text-danger"></span>
                    <textarea class="form-control" asp-for="Description" rows="3" placeholder="Deneme Açıklamasını Giriniz."></textarea>
                </div>

                <div class="form-group">
                   <button type="submit" class="btn btn-primary mr-2" asp-action="Update" asp-area="Admin" asp-controller="Exercise">Kaydet</button>
                  <button class="btn btn-warning" asp-action="Index" asp-area="Admin" asp-controller="Exercise">İptal Et</button>
                </div>
            </form>

         
        </div>
    </div>
</div>


