@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers



@{
    ViewData["Title"] = "AddMultiQuestion";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Yeni Soru Ekle</h4>
        <p class="card-description">
            Tekil Soru Eklemek İçin Aşağıdaki Formu Kullanınız.
        </p>
        <form class="forms-sample" method="post" enctype="multipart/form-data">

          
            <div class="form-group row">
                <label name="excelFile" class="col-sm-3 col-form-label">Excel Dosyasını Seçiniz</label>
                <div class="col-sm-9">
                    <input type="file" class="form-control" name="excelFile" asp-action="AddMultiQuestion" asp-area="Admin" asp-controller="Question">
                </div>
            </div>

            <button type="submit" class="btn btn-primary mr-2" asp-action="AddMultiQuestion" asp-area="Admin" asp-controller="Question">Kaydet</button>
            <button class="btn btn-light">İptal Et</button>
        </form>
    </div>
</div>



