@using Entity.DTOs
@model QuestionModelDTO
@{
    ViewData["Title"] = "AddQuestion";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="card">
    <div class="card-body">
        <h4 class="card-title">Yeni Soru Ekle</h4>
        <p class="card-description">
            Tekil Soru Eklemek İçin Aşağıdaki Formu Kullanınız.
        </p>
        <form class="forms-sample" method="post" enctype="multipart/form-data">
            
            <div class="form-group row">
                
                <input type="hidden" class="form-control" asp-for="DateOfUpload" asp-action="AddQuestion" asp-area="Admin" asp-controller="Question" value="@DateTime.Now.ToShortDateString()">
               
            </div>


            <div class="form-group row">
                <label asp-for="Image2" class="col-sm-3 col-form-label">Soru Resmi</label>
                <div class="col-sm-9">
                    <input type="file" class="form-control" asp-for="Image2" asp-action="AddQuestion" asp-area="Admin" asp-controller="Question">
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="Answer" class="col-sm-3 col-form-label">Cevap</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" asp-for="Answer" asp-action="AddQuestion" asp-area="Admin" asp-controller="Question" placeholder="Cevabın Hangi Şık olduğunu Yazınız.">
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="Difficulty" class="col-sm-3 col-form-label">Zorluk Düzeyi</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" asp-for="Difficulty" asp-action="AddQuestion" asp-area="Admin" asp-controller="Question" placeholder="1-5 Arasıda Zorluk Seviyesi Giriniz.">
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="CategoryId" class="col-sm-3 col-form-label">Kategori</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" asp-for="CategoryId" asp-action="AddQuestion" asp-area="Admin" asp-controller="Question" placeholder="Kategori Seçiniz">
                </div>
            </div>

            <button type="submit" class="btn btn-primary mr-2" asp-action="AddQuestion" asp-area="Admin" asp-controller="Question">Kaydet</button>
            <button class="btn btn-light">İptal Et</button>
        </form>
    </div>
</div>


